folium==0.17.0
GitPython==3.1.43
haversine==2.8.1
markdown-it-py==3.0.0
matplotlib==3.9.2
numpy==2.1.3
pandas==2.2.3
Pillow==10.4.0
plotly==5.24.1
python-dateutil==2.9.0.post0
streamlit==1.39.0
streamlit_folium==0.23.1
